/* body {
    background-image: url('https://images.unsplash.com/photo-1628075265328-aec05575f8f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-blend-mode: color; 
}*/

body { 
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
    padding: 5%;
    margin-top: 10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#tarih {
    margin-top: 5%;
}

#saat {
    margin-top: 5%;
}